@import "scss/varible.scss";

.header__top {
  font-size: 1.4rem;
  background-color: $color-text;
  &-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  &-item:hover &-link,
  &-item:hover &-link span,
  &-item:hover &-link .fa {
    background-color: #fff;
    color: $color-text;
  }
  &-link {
    color: #fff;
    padding: 0.2rem 1.5rem;
    & .fa {
      color: #fff;
      margin-right: 0.8rem;
    }
    & span {
      color: #fff;
    }
  }
}
