@import "scss/variable.scss";

.order-list {
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 1rem;
  box-shadow: $shadow;
  border-radius: 0.3rem;
  &__header {
    font-weight: 700;
    text-align: center;
    padding: 0 0 1rem 0;
  }
  &__item {
    text-align: center;
    & .fa {
      cursor: pointer;
    }
    & .fa-pencil {
      color: #d89c0f;
    }
    & .fa-phone {
      color: #00c292;
      margin-left: 1rem;
    }
  }
}
