@import "scss/variable.scss";

.login-page {
  &__inner {
    @include flex(space-between, flex-start);
  }
}
.login-form {
  padding: 1rem 5rem;
  &__header {
    margin-bottom: 1rem;
    text-align: center;
    &--heading {
      font-size: 3rem;
    }
    &--greeting {
      font-size: 2rem;
      margin: 5rem 0 1rem 0;
    }
    &--link {
      display: inline;
      color: $color-secondary;
      &:hover {
        text-decoration: underline;
      }
    }
    &--title {
      font-size: 1.4rem;
      font-style: italic;
      margin-bottom: 3.5rem;
    }
  }
}
.btn--signin {
  width: 100%;
  color: #fff;
  background-color: $color-secondary;
}
.other-signin {
  & > p {
    font-weight: 700;
    text-align: center;
    margin: 1rem 0;
  }
  & .group-btn {
    @include flex();
  }
}

.btn--gg,
.btn--fb {
  width: calc((100% - 1.6rem) / 2);
  & > .fa {
    color: #fff;
  }
}

.btn--fb {
  background-color: #1196f5;
}
.btn--gg {
  background-color: #ee4239;
}
