@import "scss/variable.scss";

.slick-slider {
  width: 100%;
  @include flex(flex-start, center);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &__item {
    display: inline-block;
    width: calc((100% - 4rem) / 5);
    margin-right: 1rem;
    cursor: pointer;
    filter: opacity(0.5);
    &-active {
      border: 1px solid $color-secondary;
      filter: opacity(1);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.wrapper-slider {
  &__main-image {
    position: relative;
    width: 100%;
    &:hover .zoomLen {
      display: block;
    }
  }
}
.main-image__btn {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 3rem;
  cursor: pointer;
  &:hover > .fa {
    color: $color-secondary;
  }
}
.fa {
  transition: color 0.3s;
}
.next-btn {
  top: 50%;
  right: 0.5rem;
}
.previous-btn {
  top: 50%;
  left: 0.5rem;
}
.zoomLen {
  display: none;
  position: absolute;
  top: 0%;
  left: 105%;
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  background-color: #ccc;
  &__img {
    position: absolute;
    max-width: none;
    width: 200rem;
    height: 200rem;
    transform: translate(20rem, 20rem);
  }
}
