@import "scss/variable.scss";
.category__item {
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 0.3rem;
  & p {
    color: $color-text;
    background-color: #fafafa;
    padding: 0.2rem 1rem;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    & > .fa-caret-down {
      color: $color-text;
      font-size: 2rem;
      float: right;
      transition: transform 0.3s;
    }
  }
}
.category__subList {
  margin-top: 0.3rem;
  text-transform: initial;
  list-style-type: none;
  &-item {
    padding: 0.2rem 1.5rem;
    &:hover {
      background-color: $color-secondary;
      & > a {
        color: #fff;
      }
    }
    &--active {
      background-color: $color-secondary;
      @include flex();
      & > a {
        color: #fff;
      }
      & > button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        & > .fa-times {
          color: #fff;
        }
      }
    }
  }
}
