@import "scss/variable.scss";

.main-page__inner {
  @include flex(space-between, flex-start);
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 65rem;
}
.main-page__newProducts--left {
  max-width: 48rem;
  padding-right: 1rem;
  height: 100%;
}
.box-title {
  height: 9.5rem;
  position: relative;
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    text-decoration: underline;
    z-index: 99;
    &-background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      font-size: 8rem;
      font-weight: 900;
      z-index: 1;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #e7e7e7;
    }
  }
}
.box-img {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &__more-btn {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%, 0);
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2rem) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(2rem) saturate(160%) contrast(45%)
      brightness(140%);
    font-weight: 700;
    transition: color 0.3s;
    &:hover {
      color: $color-secondary;
    }
  }
}
