@import "scss/variable.scss";
.product-card {
  width: 100%;
  padding-bottom: 1rem;
  position: relative;
  &__image {
    border-radius: 0.3rem;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease;
    & img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__tag {
    position: absolute;
    top: 2rem;
    left: 0;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 0.3rem;
    z-index: 1;
  }
  &__like-btn {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    outline: none;
    background: transparent;
    font-size: 2rem;
  }
  &__like-btn .fa {
    color: $color-secondary;
  }
  &__text {
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    &--name {
      margin-top: 1rem;
    }
    &--name {
      // font-weight: 700;
      font-size: 1.8rem;
      text-transform: capitalize;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    &--price {
      font-weight: 700;
      margin-top: 1rem;
      color: $color-secondary;
    }
  }
}
.product-card__group-btn {
  position: absolute;
  top: 80%;
  left: 0;
  padding: 0 1.5rem;
  width: 100%;
  @include flex(space-between, center);
  transform: translateY(150%);
  opacity: 0;
  transition: all 0.3s ease;
  & .product-card__add-btn {
    font-weight: 400;
    padding: 0.5rem 1.5rem;
    width: calc(100% / 5 * 4 - 0.1rem);
    border-radius: 0.3rem;
    font-size: 1.8rem;
    color: #fff;
    background-color: $color-secondary;
    & > .fa-plus {
      margin-left: 0.5rem;
      height: 2rem;
      color: #fff;
    }
  }
  & .product-card__size-btn {
    cursor: pointer;

    background-color: #ccc;
    height: 3.5rem;
    width: calc(100% / 5 - 0.4rem);
    line-height: 3.5rem;
    text-align: center;
    border-radius: 0.3rem;
  }
}
.product-card__image a img {
  transition: all 0.3s ease;
}
.product-card__image:hover {
  box-shadow: $shadow;
}
.product-card__image:hover .product-card__group-btn {
  opacity: 1;
  transform: translateY(0%);
}
.product-card__image:hover a > img {
  transform: scale(1.2) translateY(-1.8rem);
}
.product-card__list-size {
  position: absolute;
  bottom: 3.9rem;
  right: 0;
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  &--child {
    background-color: blueviolet;
    width: calc(100% / 5 - 0.4rem);
    height: 3.5rem;
    border-radius: 0.3rem;
    line-height: 3.5rem;
    text-align: center;
    color: #fff;
    margin-right: 0.5rem;
    cursor: pointer;
  }
}
