@import "scss/varible.scss";
.product-card {
  max-width: 25rem;
  height: 35rem;
  //   background-color: #ccc;
  position: relative;
  &__image {
    border-radius: 1rem;
    overflow: hidden;
    & img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__tag {
    position: absolute;
    top: 2rem;
    left: 0;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
  }
  &__like-btn {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    outline: none;
    background: transparent;
    font-size: 2rem;
  }
  &__like-btn .fa {
    color: $color-secondary;
  }
  &__text {
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    &--name {
      margin-top: 2rem;
    }
    &--name::first-letter {
      text-transform: uppercase;
    }
    &--price {
      font-weight: 700;
      margin-top: 1rem;
    }
  }
}
