@import "scss/variable.scss";
.product-card {
  width: 100%;
  padding-bottom: 1rem;
  position: relative;
  &__image {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    & img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__tag {
    position: absolute;
    top: 2rem;
    left: 0;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    z-index: 1;
  }
  &__like-btn {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    outline: none;
    background: transparent;
    font-size: 2rem;
    z-index: 1;
  }
  &__like-btn .fa {
    color: $color-secondary;
  }
  &__text {
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    &--name {
      margin-top: 1rem;
    }
    &--name::first-letter {
      text-transform: uppercase;
    }
    &--price {
      font-weight: 700;
      margin-top: 1rem;
      color: $color-secondary;
    }
  }
}
.product-card__group-btn {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translate(-50%, 0);
  @include flex;
  width: 12rem;
  padding-bottom: 1rem;
  overflow: hidden;
  & button {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 1.8rem;
    cursor: pointer;
    transform: translateY(5rem);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
      brightness(140%);
    &:nth-child(1) {
      transition-delay: 0s;
    }
    &:nth-child(2) {
      transition-delay: 0.1s;
    }
    &:nth-child(3) {
      transition-delay: 0.2s;
    }
  }
}
.product-card__image:hover .product-card__group-btn > button {
  opacity: 1;
  transform: translateY(0);
}
