@import "scss/variable.scss";

.secondary-banner {
  margin: 0 auto;
  max-width: 120rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
  &__tittle-link {
    display: block;
    position: absolute;
    left: 30%;
    bottom: 3rem;
    transform: translate(-50%, 0);
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2rem) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(2rem) saturate(160%) contrast(45%)
      brightness(140%);
    font-weight: 700;
    transition: color 0.3s;
    &:hover {
      color: $color-secondary;
    }
  }
}
.third-banner {
  margin: 0 auto;
  max-width: 120rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;
  @include flex;
  & > div:first-child {
    background-color: #ccc;
    width: calc((100% - 1rem) / 2);
    & img {
      max-width: 100%;
    }
  }
  & > div:nth-child(2) {
    background-color: #ccc;
    width: calc((100% - 1rem) / 2);
    & img {
      max-width: 100%;
    }
  }
}
.block-center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 1.5rem;
  border: 0.1rem solid #fff;
  & div {
    width: 40rem;
    height: 10rem;
    background-color: #fff;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 10rem;
    letter-spacing: 1rem;
  }
}
