@import "scss/variable.scss";
.step-progress-bar {
  position: relative;
  margin: 1rem 0;
  &__list {
    list-style-type: none;
    @include flex();
  }
  &__item {
    width: 15rem;
    &-inner {
      @include flex(center, center);
      flex-direction: column;
      position: relative;
    }
  }
  &__icon {
    width: 5.5rem;
    height: 5.5rem;
    position: relative;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    transition-delay: 0.5s;
    &--done {
      filter: grayscale(0%);
    }
  }
  &__status {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    background-color: #ccc;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    & > .fa {
      color: #fff;
    }
    &--done {
      background-color: $color-secondary;
    }
  }
  &__tittle {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(122, 122, 122);
    transition: color 0.5s ease;
    transition-delay: 0.5s;
    &--done {
      color: $color-text;
    }
  }
  &__container-status-bar {
    width: calc(100% - 15rem);
    height: 1rem;
    background-color: #ccc;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 7rem;
    left: 50%;
    z-index: -1;
    padding: 0.2rem 0;
  }
  &__status-bar {
    height: 100%;
    background-color: $color-secondary;
    border-radius: 1rem;
    transition: width 0.5s ease;
  }
}
