@import "scss/variable.scss";
.step-progress-bar {
  width: 100rem;
  &__list {
    list-style-type: none;
    @include flex();
  }
  &__item {
    width: 15rem;
    &-inner {
      @include flex(center, center);
      flex-direction: column;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 28.4rem;
        height: 1rem;
        background-color: #ccc;
        position: absolute;
        top: 7rem;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
      }
    }
  }
  &__item-inner:first-child .step-progress-bar__item-inner::after {
    content: "";
    display: block;
    width: 14.2rem;
    height: 1rem;
    background-color: #ccc;
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
  }
  &__icon:nth-child(1) {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    position: relative;
    &::after {
      content: "";
      height: 2rem;
      width: 2rem;
      background-color: $color-secondary;
      display: block;
      position: absolute;
      top: 2.9rem;
      left: 1.53rem;
      transform: rotate(44deg);
      z-index: -1;
      //   border-radius: 0.3rem;
    }
  }
  &__status {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 1rem;
    border-radius: 50%;
    background-color: #ccc;
    & > .fa {
      color: #fff;
    }
  }
  &__tittle {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}
