@import "scss/variable.scss";

.upload-main {
  border-radius: 0.3rem;
  box-shadow: $shadow;
  overflow: hidden;
  background-color: #f8f5f1;
  & .form-upload__review {
    background-color: transparent;
    padding: 2rem 2rem 0 2rem;
  }
  & .form-upload__group-btn {
    padding: 2rem;
    @include flex();
    & > button {
      font-weight: 700;
      padding: 1rem 3.5rem;
      background-color: #ffc93c;
      box-shadow: none;
      & .fa {
        color: #31326f;
      }
    }
  }
}
.upload-crop {
  display: none;
}
.form-upload__status {
  &-item {
    padding: 1rem;
    @include flex(flex-start, center);
    position: relative;
    z-index: 1;
    & > .percent {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #9ddfd3;
      z-index: -1;
    }
    & > .content {
      width: 35%;
      & > .content-name {
        font-size: 1.4rem;
        font-weight: 700;
        color: #31326f;
      }
      & > .content-size {
        margin-top: 0.5rem;
        font-size: 1.2rem;
        color: #31326f;
      }
    }
    & > .image {
      width: 6rem;
      border-radius: 0.3rem;
      overflow: hidden;
      margin-right: 1rem;
    }
    & > .action {
      margin-left: auto;
      & > button {
        padding: 0.2rem 0.5rem;
        background-color: transparent;
        box-shadow: none;
        & > .fa {
          color: #31326f;
        }
      }
    }
    & > .status {
      color: $color-success;
      margin-right: auto;
      font-size: 3rem;
    }
  }
}
.progress-numb {
  margin-left: auto;
  font-size: 3rem;
  color: #31326f;
}
