@import "scss/variable.scss";

.footer {
  background-color: #f8f8f8;
  padding: 2rem 0;
  font-size: 1.8rem;
  &__item > h3 {
    margin-bottom: 1rem;
  }
  &__item > ul {
    list-style-type: none;
  }
  &__item > ul > li {
    padding: 0.2rem 0;
    line-height: 1.3;
  }
  &__item > ul > li > span {
    font-weight: 700;
  }
  &__item > ul > li > a:hover {
    color: $color-secondary;
    text-decoration: underline;
  }
}
