@import "scss/variable.scss";

.brand-logo {
  margin: 0 auto 5rem auto;
  max-width: 120rem;
  height: 10rem;
  @include flex;
  &__item {
    padding: 1rem;
    height: 10rem;
    width: 10rem;
    filter: opacity(0.5);
    transition: filter 0.3s;
  }
  &__item:hover {
    filter: opacity(1);
  }
}
