@import "scss/variable.scss";
.nav-bar {
  @include flex(flex-start, center);
  height: 100%;
  &__list {
    @include flex(flex-start, center);
    list-style-type: none;
  }
  &__item {
    margin-right: 2rem;
    & > a {
      padding: 0.5rem;
      transition: color 0.5s;
      font-size: 2rem;
      font-weight: 700;
      &:hover {
        color: $color-secondary;
      }
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0.2rem;
        background: $color-secondary;
        transition: width 0.2s;
      }
      &:hover::after {
        width: 100%;
      }
    }
    &:hover .nav-bar__item > a::after {
      width: 100%;
    }
    &:hover .nav-bar__list-sub {
      display: block;
    }
  }
  &__list-sub {
    display: none;
    border-radius: 1rem;
    position: absolute;
    list-style-type: none;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
      brightness(140%);
    box-shadow: 0 0 0.5rem #898989;
    z-index: 1;
  }
  &__item-sub > a {
    padding: 0.5rem;
    transition: color 0.5s;
    &:hover {
      color: $color-secondary;
    }
  }
}
.nav-bar .link-active {
  color: $color-secondary;
  & .fa-caret-down {
    color: $color-secondary;
  }
}
