@import "scss/variable.scss";

.input-field {
  padding: 1rem;
  @include flex(flex-start, center);
  border-bottom: 0.2rem solid #f8f9fa;
  transition: border 0.3s ease;
  &__icon {
    width: 20%;
    text-align: center;
    font-size: 2.2rem;
    & > .fa {
      color: #b2b9c6;
    }
  }
  &__content {
    width: 80%;
    & > .content-header {
      @include flex(flex-start, center);
      & > .label {
        text-transform: capitalize;
        color: #676d77;
        transition: color 0.3s ease;
      }
    }
    & .error-message {
      color: $color-danger;
      margin-left: auto;
      font-size: 1.2rem;
    }
    & > .content-main {
      @include flex(flex-start, center);
      & > .input {
        width: 90%;
        & > input {
          width: 100%;
          padding: 0.5rem 0rem;
          outline: none;
          border: none;
          background: transparent;
        }
      }
      & > .status-icon {
        width: 10%;
        text-align: center;
        font-size: 1.8rem;
        & > .fa-exclamation-circle {
          color: $color-danger;
        }
        & > .fa-check-circle {
          color: $color-success;
        }
      }
    }
  }
}
