@import "scss/variable.scss";

.search-bar {
  @include flex();
  height: 100%;
  position: relative;
  &__input {
    background-color: rgb(250, 250, 250);
    @include flex(flex-start, center);
    width: 100%;
    padding-right: 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid rgb(219, 219, 219);
    & .fa-search {
      padding: 1rem;
    }
    & .fa-spinner {
      padding: 1rem;
      animation: rotate 3s ease infinite;
    }
    & input {
      outline: none;
      padding: 0.5rem;
      background-color: transparent;
      border: none;
      width: 100%;
      &::placeholder {
        color: rgb(124, 124, 124);
      }
    }
  }
  &__result-block {
    max-height: 62rem;
    overflow-y: auto;
    width: 45rem;
    padding: 1.5rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 7.2rem;
    right: 0.8rem;
    background-color: #fafafa;
    z-index: 10;
    box-shadow: 0 0 0.5rem #999999;
  }
}
.result-block__item {
  margin-bottom: 0.5rem;
}
.result-block__desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  font-size: 1.4rem;
}
.result-block__name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  font-size: 1.8;
  font-weight: 700;
  text-transform: capitalize;
}
.result-block__price {
  font-weight: 700;
  color: $color-secondary;
}
