@import "scss/variable.scss";
.admin-page {
  display: flex;
  &__menu {
    width: 30rem;
    padding: 1rem 2rem;
    border-right: 0.1rem solid #ccc;
  }
  &__content {
    width: calc(100% - 30rem);
    background-color: #fff;
  }
}
.menu__logo {
  text-align: center;
}
.menu__menu-list > ul {
  list-style-type: none;
}
.menu__menu-item {
  & > a {
    padding: 0.5rem 0;
    font-size: 1.8rem;
    @include flex(flex-start, center);
    & > img {
      width: 3rem;
      margin: 0;
    }
    & > .fa {
      color: #3a3c42;
    }
    & > span {
      display: inline-block;
      width: 75%;
      margin-left: 1.5rem;
      color: #3a3c42;
    }
    & > .fa-caret-down {
      float: right;
    }
  }
}
.content__header {
  padding: 1rem 2rem;
  border-bottom: 0.1rem solid #ccc;
  @include flex();
  &-right {
    @include flex(flex-end, center);
  }
}
.header__heading {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.header__user {
  @include flex();
  &-avatar {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #ccc;
    border-radius: 50%;
  }
}
.header__find {
  background-color: rgb(250, 250, 250);
  @include flex(flex-start, center);
  border-radius: 0.3rem;
  border: 0.1rem solid rgb(219, 219, 219);
  & > input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.5rem;
    width: 25rem;
  }
  & > .fa-search {
    padding: 1rem;
  }
}
.header__inner {
  margin-left: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  &-numb {
    position: absolute;
    right: -0.3rem;
    top: 0;
    padding: 0.3rem;
    background: #fdc009;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.3rem;
    font-weight: 700;
  }
}
.header__user {
  margin-left: 1rem;
  &-name {
    margin-left: 0.5rem;
  }
}
.content__main {
  background-color: rgb(240, 240, 240);
  padding: 1.5rem;
}
